<!DOCTYPE html>
<html>
<head>
<title>Ad annotation</title>

<link rel= "stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <h1>Ad annotation</h1>

    <p>
        Image id: {{image_id}} <br>
    </p>
    
    <p><img src= "{{ image_path }}" alt="Ad image"> <br>

        <input type="button" onclick="window.open('{{image_url}}','_blank');" value="See bigger image" /> <br>
    
    </p>
    <p>

        How much do you think the following sentence is an 
        appropriate answer for the question "What should you do
        according to this ad, and why?" <br>

        <div class="statement">{{ statement }}<br></div>

        Please answer with a <b>percentage</b>

        <form action="/annotate" method="POST" >
            Your answer: <input type="text" id="rating" name="rating">%<br>
            <input type="submit" value="Confirm"/>
        </form>
        


        

        <div class="button-container">
            
            <form action="/back"> <input type="submit" value="Prev"/></form>
            <!-- <form action="/flag"> <input type="submit" value="Flag"/></form> -->
            <form action="/next"> <input type="submit" value="Next"/></form>

        </div>


   
        
    </p>
</body>